<launch>
  <node name="raw_image" pkg="sensors" type="car_image_raw.py" />
  <node name="speed" pkg="sensors" type="speedometer.py" />
  <node name="controls" pkg="controls" type="handle_controls.py" />
  <node name="lka" pkg="lka" type="lane_keep.py" />
  <node name="acc" pkg="acc" type="acc.py" />
  <node name="object_detect" pkg="object_detect" type="object_detect.py" />
  <!-- <node name="metrics" pkg="metrics" type="main.py" /> -->
  <node name="agent" pkg="agent" type="reactive_agent.py"/>
</launch>